<main class="body"> 
      <div class="individual-blog2">
        {{#if allowEdit}}
          <button id="delete-blog-button" class="back-button" data-blogs-id="{{id}}" user-id="{{user.id}}">Delete</button>
          {{/if}}
          <div class="row2">
          <a class="aStyle" href="/user/{{user.id}}">{{user.username}}</a>
          <p class="dateCreated">{{format_time date_created}}</p>
        </div>
        <h1 class="blog-heading">{{title}}</h1>
        <div class="blog-para">
          <p>
            {{description}}
          </p>
        </div>
        <button class="back-button btn-primary log" type="submit" id="like-button" data-update-id="{{id}}">Like</button>
        <p>Likes: {{likes}}</p>
      </div>

      <div class='addcomment'>
        <form id="comment-form">
            <input type="text" id="comment-box" name="comment-box" placeholder="Add your comment">
            <button class="back-button btn-primary log" type="submit" id="comment-button" data-post-id="{{id}}">Post</button>
        </form>
      </div>

      <div class="commentSection">
          
          <h1 class="commentHeader">Comments</h1>
          {{#each comments as |comment|}}
          <div class="comment">
              <a href="/user/{{comment.user.id}}"><h3>{{comment.user.username}}</h3></a>
              <p>{{comment.comment}}</p>
          </div>
          {{/each}}
      </div>
    
    
  </main>