<main class="body"> 
      <div class="individual-blog2">
        {{#if allowEdit}}
        <div class="button-container">
          <button id="delete-blog-button" class="back-button" data-blogs-id="{{id}}" user-id="{{user.id}}">Delete</button>
        </div>
          {{/if}}
        <h1 class="blog-heading">{{title}}</h1>
        {{!-- <div class="row2">
            <p class="dateCreated">{{format_time date_created}}</p> | <a class="aStyle" href="/user/{{user.id}}">{{user.username}}</a>
        </div> --}}
        <div class="blog-para datey">
          <p>{{format_time date_created}} | <a class="aStyle" href="/user/{{user.id}}">{{user.username}}</a></p>
        </div>
        <div class="blog-para desy">
          <p>
            {{description}}
          </p>
        </div>
        <button class="back-button btn-primary log" type="submit" id="like-button" data-update-id="{{id}}">Like</button>
        <p class="comment">Likes: {{likes}}</p>
      </div>

      <div class='addcomment'>
        <form id="comment-form">
            <input class="input-box" type="text" id="comment-box" name="comment-box" placeholder="Add your comment">
            <button class="back-button btn-primary log" type="submit" id="comment-button" data-post-id="{{id}}">Post</button>
        </form>
      </div>

      <div class="commentSection">
          
          <h1 class="commentHeader">Comments</h1>
          {{#each comments as |comment|}}
          <div class="comment">
              <a class="commentHeader" href="/user/{{comment.user.id}}"><h3>{{comment.user.username}}</h3></a>
              <p class="comment">{{comment.comment}}</p>
          </div>
          {{/each}}
      </div>
    
    
  </main>