<header class="homeheader">
    <img class="logo" src="/Images/GymClub.png">
    <div class="menuflex">
      
          <a class="navBtn" href="/">Home</a>
          {{#if user_id}}
          <a class="navBtn" href="/user/{{user_id}}">Profile</a>
          {{/if}}
          {{#if logged_in}}
          <a class="navBtn" id="logout-button" href="/">Logout</a>
          {{else}}
          <a class="navBtn" href="/welcome">Login</a>
          {{/if}}
    </div>
</header>

<main class="body"> 
      <div class="individual-blog2">
          <div class="row2">
          <a class="aStyle" href="/user/{{user.id}}">{{user.username}}</a>
          <p class="dateCreated">{{format_time date_created}}</p>
        </div>
        <h1 class="blog-heading">{{title}}</h1>
        <div class="blog-para">
          <p>
            {{description}}
          </p>
        </div>
      </div>

      <div class='addcomment'>
        <form id="comment-form">
            <input type="text" id="comment-box" name="comment-box" placeholder="Add your comment">
            <button class="btn btn-primary log" type="submit" id="comment-button" data-post-id="{{id}}">Post</button>
        </form>
      </div>

      <div class="commentSection">
          
          <h1>Comments</h1>
          {{#each comments as |comment|}}
          <div class="comment">
              <a href="/user/{{comment.user.id}}"><h3>{{comment.user.username}}</h3></a>
              <p>{{comment.comment}}</p>
          </div>
          {{/each}}
      </div>
    
    
  </main>