<header class="homeheader">
    <img class="logo" src="/Images/GymClub.png">
    <div class="menuflex">
      <div class="menudrop">
          <a href="/">Home</a>
          {{#if user_id}}
          <a href="/user/{{user_id}}">Profile</a>
          {{/if}}
          {{#if logged_in}}
          <a id="logout-button" href="/">Logout</a>
          {{else}}
          <a href="/welcome">Login</a>
          {{/if}}
      </div>
      <a class="menuBtn"><img class="menu" src="/Images/MenuBar.png"></a>
      
    </div>
</header>


<main class="body"> 
  <div class="backBtn">
    <a class="btn" href="/userWorkouts/{{user_id}}">Back</a>
  </div>
  <h1 class="blogHeading">Exercises!</h1>
  <div class="exerciseRow">
    <div class="newExerciseContainer">
          <div class="formDiv">
              <form class="firstForm">
                  <label for="Exercise">Exercise Name</label><br>
                    <input type="text" id="Exercise" name="Exercise"><br><br>
                    <label for="Sets">Sets</label><br>
                    <input type="text" id="Sets" name="Sets"><br><br>
                    <label for="Reps">Reps</label><br>
                    <input type="text" id="Reps" name="Reps"><br><br>
                    <input class="btn" type="submit" id="new-exercise-button" value="Add Exercise" data-post-id="{{id}}">
                </form>
            </div>
        </div>

        <div class="exerciseColumn">
          {{#each exercises as |exercise| }}
            <div class="individual-exercise">
              <div class="blog-para">
                <h2 class="exerciseHeading">{{exercise.exercise}}</h2>
                
                <div class="routine">
                    <p>Sets: {{exercise.sets}}</p>
                    <p>Reps: {{exercise.reps}}</p>
                </div>
                
              </div>
            </div>
          {{/each}}
        </div>
  </div>
    
    
    
</main>

