{{!-- Comment --}}

<header class="homeheader">
    <img class="logo" src="/Images/GymClub.png">
    <div class="menuflex">
      <div class="menudrop">
          <a href="/">Home</a>
          <a href="/user">Profile</a>
          {{#if loggedIn}}
          <a href="/">Logout</a>
          {{else}}
          <a href="/login">Login</a>
          {{/if}}
      </div>
      <a class="menuBtn"><img class="menu" src="/Images/MenuBar.png"></a>
      
    </div>
    
    
</header>
    
  <main class="body"> 
    {{#each blogs as |blog| }}
    
      <div class="individual-blog">
        
        <a class="headingA"><h1 class="blog-heading">{{blog.title}}</h1></a>
    
        <div class="blog-para">
          <p>
            {{blog.description}}
          </p>
        </div>
        <div class="row">
          <a href="/user/{{blog.user.id}}">{{blog.user.username}}</a>
          <p>{{blog.date_created}}</p>
        </div>
      </div>
    
    {{/each}}
  </main>

  <script>
    const rotate = 
        anime({ 
        targets: '.menu',
        duration: 300,
        rotate: 180,
        easing: 'linear',
        autoplay: false
        })
    

    const btn = document.querySelector(".menuBtn")

    btn.onclick = rotate.play
      

  </script>