<main class="body"> 
    <h1 class="blogHeading">{{username}}</h1>
    <div class="userBtns">
        <a class="back-button" href="/userBlogs/{{id}}">Blogs</a>
        <a class="back-button" href="/userWorkouts/{{id}}">Workouts</a>
        {{#if allowIconEdit}}
        <a class="back-button" href="/editStats/{{id}}">Edit Profile</a>
        {{/if}}
    </div>
    <div class='userContainer'>
        <section class="userImage font">
            <img class="theImage" src="{{picture}}"/>
        </section>

        {{#if allowIconEdit}}
        <section class=">
            <p class="change-image">Change Image</p>
        </section>
            {{/if}}
        <section class="icon-model font">
            <section class="image-container">
                <img src="/images/avatars/1.svg" class="chooseImage" value="/images/avatars/1.svg" data-id="{{user_id}}"/>
                <img src="/images/avatars/2.svg" class="chooseImage" value="/images/avatars/2.svg" data-id="{{user_id}}"/>
                <img src="/images/avatars/3.svg" class="chooseImage" value="/images/avatars/3.svg" data-id="{{user_id}}"/>
                <img src="/images/avatars/4.svg" class="chooseImage" value="/images/avatars/4.svg" data-id="{{user_id}}"/>
                <img src="/images/avatars/5.svg" class="chooseImage" value="/images/avatars/5.svg" data-id="{{user_id}}"/>
                <img src="/images/avatars/6.svg" class="chooseImage" value="/images/avatars/6.svg" data-id="{{user_id}}"/>
                <img src="/images/avatars/7.svg" class="chooseImage" value="/images/avatars/7.svg" data-id="{{user_id}}"/>
                <img src="/images/avatars/8.svg" class="chooseImage" value="/images/avatars/8.svg" data-id="{{user_id}}"/>
                <img src="/images/avatars/9.svg" class="chooseImage" value="/images/avatars/9.svg" data-id="{{user_id}}"/>
                <img src="/images/avatars/10.svg" class="chooseImage" value="/images/avatars/10.svg" data-id="{{user_id}}"/>
                <img src="/images/avatars/11.svg" class="chooseImage" value="/images/avatars/11.svg" data-id="{{user_id}}"/>
                <img src="/images/avatars/12.svg" class="chooseImage" value="/images/avatars/12.svg" data-id="{{user_id}}"/>
                <img src="/images/avatars/13.svg" class="chooseImage" value="/images/avatars/13.svg" data-id="{{user_id}}"/>
                <img src="/images/avatars/14.svg" class="chooseImage" value="/images/avatars/14.svg" data-id="{{user_id}}"/>
                <img src="/images/avatars/15.svg" class="chooseImage" value="/images/avatars/15.svg" data-id="{{user_id}}"/>
                <img src="/images/avatars/16.svg" class="chooseImage" value="/images/avatars/16.svg" data-id="{{user_id}}"/>
                <img src="/images/avatars/17.svg" class="chooseImage" value="/images/avatars/17.svg" data-id="{{user_id}}"/>
                <img src="/images/avatars/18.svg" class="chooseImage" value="/images/avatars/18.svg" data-id="{{user_id}}"/>
                <img src="/images/avatars/19.svg" class="chooseImage" value="/images/avatars/19.svg" data-id="{{user_id}}"/>
                <img src="/images/avatars/20.svg" class="chooseImage" value="/images/avatars/20.svg" data-id="{{user_id}}"/>
                <img src="/images/avatars/21.svg" class="chooseImage" value="/images/avatars/21.svg" data-id="{{user_id}}"/>
                <img src="/images/avatars/22.svg" class="chooseImage" value="/images/avatars/22.svg" data-id="{{user_id}}"/>
                <img src="/images/avatars/23.svg" class="chooseImage" value="/images/avatars/23.svg" data-id="{{user_id}}"/>
                <img src="/images/avatars/24.svg" class="chooseImage" value="/images/avatars/24.svg" data-id="{{user_id}}"/>
                <img src="/images/avatars/25.svg" class="chooseImage" value="/images/avatars/25.svg" data-id="{{user_id}}"/>
                <img src="/images/avatars/26.svg" class="chooseImage" value="/images/avatars/26.svg" data-id="{{user_id}}"/>
                <img src="/images/avatars/27.svg" class="chooseImage" value="/images/avatars/27.svg" data-id="{{user_id}}"/>
                <img src="/images/avatars/28.svg" class="chooseImage" value="/images/avatars/28.svg" data-id="{{user_id}}"/>
                <img src="/images/avatars/29.svg" class="chooseImage" value="/images/avatars/29.svg" data-id="{{user_id}}"/>
                <img src="/images/avatars/30.svg" class="chooseImage" value="/images/avatars/30.svg" data-id="{{user_id}}"/>
                <img src="/images/avatars/31.svg" class="chooseImage" value="/images/avatars/31.svg" data-id="{{user_id}}"/>
                <img src="/images/avatars/32.svg" class="chooseImage" value="/images/avatars/32.svg" data-id="{{user_id}}"/>
                <img src="/images/avatars/33.svg" class="chooseImage" value="/images/avatars/33.svg" data-id="{{user_id}}"/>
                <img src="/images/avatars/34.svg" class="chooseImage" value="/images/avatars/34.svg" data-id="{{user_id}}"/>
                <img src="/images/avatars/35.svg" class="chooseImage" value="/images/avatars/35.svg" data-id="{{user_id}}"/>
                <img src="/images/avatars/36.svg" class="chooseImage" value="/images/avatars/36.svg" data-id="{{user_id}}"/>
                <img src="/images/avatars/37.svg" class="chooseImage" value="/images/avatars/37.svg" data-id="{{user_id}}"/>
                <img src="/images/avatars/38.svg" class="chooseImage" value="/images/avatars/38.svg" data-id="{{user_id}}"/>
                <img src="/images/avatars/39.svg" class="chooseImage" value="/images/avatars/39.svg" data-id="{{user_id}}"/>
                <img src="/images/avatars/40.svg" class="chooseImage" value="/images/avatars/40.svg" data-id="{{user_id}}"/>
                <img src="/images/avatars/41.svg" class="chooseImage" value="/images/avatars/41.svg" data-id="{{user_id}}"/>
                <img src="/images/avatars/42.svg" class="chooseImage" value="/images/avatars/42.svg" data-id="{{user_id}}"/>
                <img src="/images/avatars/43.svg" class="chooseImage" value="/images/avatars/43.svg" data-id="{{user_id}}"/>
                <img src="/images/avatars/44.svg" class="chooseImage" value="/images/avatars/44.svg" data-id="{{user_id}}"/>
                <img src="/images/avatars/45.svg" class="chooseImage" value="/images/avatars/45.svg" data-id="{{user_id}}"/>
                <img src="/images/avatars/46.svg" class="chooseImage" value="/images/avatars/46.svg" data-id="{{user_id}}"/>
                <img src="/images/avatars/47.svg" class="chooseImage" value="/images/avatars/47.svg" data-id="{{user_id}}"/>
                <img src="/images/avatars/48.svg" class="chooseImage" value="/images/avatars/48.svg" data-id="{{user_id}}"/>
                <img src="/images/avatars/49.svg" class="chooseImage" value="/images/avatars/49.svg" data-id="{{user_id}}"/>
                <img src="/images/avatars/50.svg" class="chooseImage" value="/images/avatars/50.svg" data-id="{{user_id}}"/>
                <img src="/images/avatars/51.svg" class="chooseImage" value="/images/avatars/51.svg" data-id="{{user_id}}"/>
                <img src="/images/avatars/52.svg" class="chooseImage" value="/images/avatars/52.svg" data-id="{{user_id}}"/>
                <img src="/images/avatars/53.svg" class="chooseImage" value="/images/avatars/53.svg" data-id="{{user_id}}"/>
                <img src="/images/avatars/54.svg" class="chooseImage" value="/images/avatars/54.svg" data-id="{{user_id}}"/>
                <img src="/images/avatars/55.svg" class="chooseImage" value="/images/avatars/55.svg" data-id="{{user_id}}"/>
                <img src="/images/avatars/56.svg" class="chooseImage" value="/images/avatars/56.svg" data-id="{{user_id}}"/>
                <img src="/images/avatars/57.svg" class="chooseImage" value="/images/avatars/57.svg" data-id="{{user_id}}"/>
                <img src="/images/avatars/58.svg" class="chooseImage" value="/images/avatars/58.svg" data-id="{{user_id}}"/>
                <img src="/images/avatars/59.svg" class="chooseImage" value="/images/avatars/59.svg" data-id="{{user_id}}"/>
                <img src="/images/avatars/60.svg" class="chooseImage" value="/images/avatars/60.svg" data-id="{{user_id}}"/>
            </section>
            <p class="back-button">Go Back</p>
        </section>

        <div class="userDetails">
            <div class="details">
                <div class="description">
                <p class="f500">About Me</p>
                <p>{{stat.description}}</p>

            </div>
                <p class="bit"><span class="f500">Age</span> | {{stat.age}}</p>
            </div>

            <div class="bodyStats">
                <p class="bit"><span class="f500">Height</span> | {{stat.height}} m</p>
                <p class="bit"><span class="f500">Weight</span> | {{stat.weight}}kg</p>
            </div>
            
            <div class="stats">
                <p class="bit"><span class="f500">Max Bench</span> | {{stat.max_bench}}kg</p>
                <p class="bit"><span class="f500">Max Deadlift</span>| {{stat.max_deadlift}}kg</p>
                <p class="bit"><span class="f500">Max Squat</span> | {{stat.max_squat}}kg</p>
            </div>
        </div>
        
    </div>
    
    
    
</main>
