<main class="body"> 
    <h1 class="heading">{{username}}</h1>
    <div class="userBtns">
        <a class="back-button" href="/userBlogs/{{id}}">Blogs</a>
        <a class="back-button" href="/userWorkouts/{{id}}">Workouts</a>
        {{#if allowIconEdit}}
        <a class="back-button" href="/editStats/{{id}}">Edit</a>
        {{/if}}
    </div>
    <div class='userContainer'>
        <section class="userImage font">
            <img class="theImage" src="{{picture}}"/>
        </section>

        {{#if allowIconEdit}}
        <section>
            <a href="/changeicon"><p class="change-image">Change Image</p></a>
        </section>
            {{/if}}
        

        <div class="userDetails">
            <div class="details">
                <div class="description">
                <p class="body-text f500">About Me</p>
                <p>{{stat.description}}</p>

            </div>
                <p class="bit"><span class="body-text f500">Age</span> | {{stat.age}}</p>
            </div>

            <div class="bodyStats">
                <p class="bit"><span class="body-text f500">Height</span> | {{stat.height}} cm</p>
                <p class="bit"><span class="body-text f500">Weight</span> | {{stat.weight}}kg</p>
            </div>
            
            <div class="stats">
                <p class="bit"><span class="body-text f500">Max Bench</span> | {{stat.max_bench}}kg</p>
                <p class="bit"><span class="body-text f500">Max Deadlift</span> | {{stat.max_deadlift}}kg</p>
                <p class="bit"><span class="body-text f500">Max Squat</span> | {{stat.max_squat}}kg</p>
            </div>
        </div>
        
    </div>
</main>
