<header class="homeheader">
    <img class="logo" src="/Images/GymClub.png">
    <div class="menuflex">
      <div class="menudrop">
          <a href="/">Home</a>
          <a href="/user/{{user_id}}">Profile</a>
          {{#if loggedIn}}
          <a id="logout-button" href="/">Logout</a>
          {{else}}
          <a href="/login">Login</a>
          {{/if}}
      </div>
      <a class="menuBtn"><img class="menu" src="/Images/MenuBar.png"></a>
      
    </div>
    
    
</header>

<main class="body"> 
  <a href="/user/{{id}}">Back</a>
  <a href="/newWorkout">New Workout</a>
    {{#each workouts as |workout| }}
    
      <div class="individual-blog">
        
        <a href="/exercises/{{workout.id}}" class="headingA"><h1 class="blog-heading">{{workout.title}}</h1></a>
    
        <div class="blog-para">
          <p>
            {{workout.description}}
          </p>
        </div>
      </div>
    {{/each}}
  </main>



<script>
    const rotate = 
        anime({ 
        targets: '.menu',
        duration: 300,
        rotate: 180,
        easing: 'linear',
        autoplay: false
        })
    

    const btn = document.querySelector(".menuBtn")

    btn.onclick = rotate.play
      

  </script>