<header class="homeheader">
    <img class="logo" src="/Images/GymClub.png">
    <div class="menuflex">
          <a class="navBtn" href="/">Home</a>
          {{#if user_id}}
          <a class="navBtn" href="/user/{{user_id}}">Profile</a>
          {{/if}}
          {{#if logged_in}}
          <a class="navBtn" href="/">Logout</a>
          {{else}}
          <a class="navBtn" href="/welcome">Login</a>
          {{/if}}
    </div>
</header>

<main class="body"> 
  <div class="workoutBtns">
    <a class="btn" href="/user/{{id}}">Back</a>
    <a class="btn" href="/newWorkout">New Workout</a>
  </div>

    <h1 class="blogHeading">Your Workouts!</h1>

    {{#if workouts.length}}
    {{#each workouts as |workout| }}
    
      <div class="individual-blog" onclick="location.href='/exercises/{{workout.id}}'">
        
        <a href="/exercises/{{workout.id}}" class="headingA"><h1 class="blog-heading">{{workout.title}}</h1></a>
    
        <div class="blog-para">
          <p>
            {{workout.description}}
          </p>
        </div>
      </div>
    {{/each}}
    {{else}}
    <h2>You currently have no workouts, click "New Workout" to create one!</h2>
    {{/if}}
  </main>

