<header class="homeheader">
    <img class="logo" src="/Images/GymClub.png">
    <div class="menuflex">
      <div class="menudrop">
          <a href="/">Home</a>
          {{#if user_id}}
          <a href="/user/{{user_id}}">Profile</a>
          {{/if}}
          {{#if logged_in}}
          <a id="logout-button" href="/">Logout</a>
          {{else}}
          <a href="/welcome">Login</a>
          {{/if}}
      </div>
      <a class="menuBtn"><img class="menu" src="/Images/MenuBar.png"></a>
    </div>
</header>

<main class="body"> 
    <div class='userContainer'>
        <section class="userImage font">
            <img class="theImage" src="{{picture}}"/>
            {{#if allowIconEdit}}
            <p class="change-image">Change Image</p>
            {{/if}}
        </section>
        <section class="icon-model font">
            <form>
                <section class="image-container">

                </section>
                <button type="submit" id="icon-button">Change Icon</button>
            </form>
            <p class="back-button">Go Back</p>
        </section>

        <div class="userDetails">
            <div class="details">
                <h2>Username: {{username}}</h2>
                <h2>Age: {{stat.age}}</h2>
            </div>

            <div class="bodyStats">
                <h2>Height: {{stat.height}}</h2>
                <h2>Weight: {{stat.weight}}</h2>
            </div>
            
            <div class="stats">
                <h3>Max Bench: {{stat.max_bench}}kg</h3>
                <h3>Max Deadlift: {{stat.max_deadlift}}kg</h3>
                <h3>Max Squat: {{stat.max_squat}}kg</h3>
            </div>
        </div>
        
    </div>
    <div class="description">
        <h1>About Me</h1>
        <p>{{stat.description}}</p>

    </div>
    <div>
        <a href="/userBlogs/{{id}}">Blogs</a>
        <a href="/userWorkouts/{{id}}">Workouts</a>
        <a href="/editStats/{{id}}">Edit Stats</a>
    </div>
    
</main>

<script>
    const rotate = 
        anime({ 
        targets: '.menu',
        duration: 300,
        rotate: 180,
        easing: 'linear',
        autoplay: false
        })
    

    const btn = document.querySelector(".menuBtn")

    btn.onclick = rotate.play
      

</script>